.footer {
    font-size: 100%;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: transparent;
    background-color: #EBE6D6;
    text-align: center;
    color: #163E6C;
}

.container {
    display: flex
}

.element {
    flex: 1;
}

