@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/PT-Astra-Sans_Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'MyCustomFont';
  }

.App {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
}

